body
{
    color:yellow;
    background: lightgreen;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name_of_faces,#result_object_name,#result_object_accuracy
{
    color: black;
}
#camera
{
    border: 2px dashed blue;
    width: 350px;
    height: 300px;
}